<% include partials/header %>

<h1>This is the home page</h1>

<img src="https://www.pets4homes.co.uk/images/breeds/377/large/f8c72865b1205c97e094a520150209ad.jpg" alt="">
<% include partials/footer %>